.container {
  display: grid;
  gap: 2.5rem;
}
@media (min-width: 700px) {
  .container {
    grid-template-columns: 1fr 1fr;
    gap: 3rem 2.5rem;
  }
}
@media (min-width: 1000px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.productlist {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px 20px;
}

@media (min-width: 800px) {
  .productlist {
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
  }
}
@media (min-width: 1000px) {
  .productlist {
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 25px;
  }
}
.list {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  align-items: start;
}

.soldoutbox {
  display: grid;
  grid-template-columns: subgrid;
  grid-row: span 2;
}
